/* this provided by mam */
.container {
  width: 80%;
  margin: auto;
  text-align: center;
}

.dice {
  text-align: center;
  display: inline-block;
}

body {
  background-color: #393E46;
}

h1 {
  margin: 20px;
  /* font-family: 'Lobster', cursive; */
  font-family: "Macondo", serif;
  text-shadow: 5px 0 #232931;
  font-size: 8rem;
  color: #4ECCA3;
}

p {
  font-size: 2rem;
  color: #c6cc4e;
  /* font-family: 'Indie Flower', cursive; */
  font-family: "Playwrite VN", serif;
  /* font-family: "Macondo", serif; */
}

img {
  width: 70%;
}

footer {
  margin-top: 1%;
  color: #EEEEEE;
  text-align: center;
  /* font-family: 'Indie Flower', cursive; */
  /* font-family: "Macondo", serif; */
  font-family: "Playwrite VN", serif;
}

/* i pasted this, since i'vn't revise this all so a great revival for me */
.btn{
  background-color: #4ECCA3;
  color: #393E46;
  padding: 10px 20px;
  border: none;
  border-radius: 5px;
  cursor: pointer; 
  /* this cursor ✨ a css property sets the mouse cursor, to show when the 
  mouse pointer is over the element. */
  font-size: 1.5rem;
  font-family: "Macondo", serif;
  margin: 1%;

  /*  here below can be used to center the button */
  /* display: block;
  margin: 20px auto; */
}

.btn-container{
  display: flex;
  justify-content: center;
}